@media only screen and (max-width: 356px) {
    .material-icons {
        font-size: 24px !important;
    }
    .viewIcons{
        font-size: 24px !important;
    }
    .subText{
        font-size: 14px !important;
    }
    .taskText{
        font-size: 14px !important;
    }
}
@media (min-width: 357px) and (max-width: 991px)  {
    .material-icons {
        font-size: 48px !important;
    }
    .viewIcons{
        font-size: 48px !important;
    }
    .taskText{
        font-size: 15px !important;
    }
    .subMenuTitle{
        font-size: 17px !important;
    }
}
@media (min-width: 992px) and (max-width: 1027px)  {
    .material-icons {
        font-size: 72px !important;
    }
    .viewIcons{
        font-size: 72px !important;
    }
    .subText{
        font-size: 16px !important;
    }
    .taskText{
        font-size: 18px !important;
    }
}
#container{
  position: fixed;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 300ms ease-out;
  z-index: 1;
}
.hideMainRight{
  -webkit-transform: translateX(150%);
	transform: translateX(150%);
  will-change: transform;
}
.hideMainLeft{
  -webkit-transform: translateX(-150%);
	transform: translateX(-150%);
  will-change: transform;
}
#player{
  position: relative;
	background: radial-gradient(ellipse farthest-corner at center, #47C9A2 0%, #26A69A 100%);
	/*background: radial-gradient(ellipse farthest-corner at center, #607D8B 0%, #546E7A 100%);  CLASSIC*/
	/*background: radial-gradient(ellipse farthest-corner at center, #42A5F5 0%, #2196F3 100%);  BLUE*/
	/*background: radial-gradient(ellipse farthest-corner at center, #FF9D68 0%, #FF7A75 100%);  BRIGHT*/
	/*background: radial-gradient(ellipse farthest-corner at center, #FC216B 0%, #E91E63 100%);  PINK*/
	margin: 0 auto;
	/*opacity: 0.9;*/
	width: 100% !important;
  height: 243px;
	text-align: center;
	z-index: 5;
  padding-bottom: 10px;
  overflow: hidden;
}
#minorText{
  color: rgba(255,255,255,.70);
  font-size: 12px;
  width: auto;
}
.customBtn{
  cursor: pointer;
	width: 90px;
	height: 28px;
	background: #009688;
	/*background: #009688; Green*/
	/*background: #212121; Classic*/
	/*background: #01579B; Blue*/
	/*background: #ff3870; Main*/
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border: 1px solid #009688;
  border-radius: 8px;
	margin-bottom: 8px;
}
#settingsBox{
  position: fixed;
	background: #fcfcfc;
	margin: 0 auto;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
  transition: 300ms ease-out;
	z-index: 2;
}
.showSettings{
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  will-change: transform;
}
#newTaskBox{
  position: fixed;
	background: #fcfcfc;
  left: 100%;
  top: 0;
	width: 100%;
	height: 100%;
  transition: 300ms ease-out;
	z-index: 2;
}
.showNewTask{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  will-change: transform;
}
.menuIcons{
	color: white;
	user-select: none;
}
#time{
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px !important;
	user-select: none;
	cursor: default;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  font-size: 70px !important;
  text-align: center;
  padding: 10px;
}
.material-icons {
	cursor: pointer;
	font-size: 36px;
}
.player-icons{
	cursor: pointer;
	color: white;
	user-select: none;
}
h1{
	font-family:  'Asap', sans-serif;
	font-size: 60px;
	text-align: center;
}
.viewIcons{
	position: absolute;
	cursor: pointer;
	color: black;
	user-select: none;
	left: 5%;
	z-index: 3;
}
#backBtn{
  left: inherit;
  right: 5% !important;
}
.viewBtn{
	position: relative;
	background: white;
	width : 93% !important;
	height: 55px;
	margin-left: 3%;
	border: 1px solid #c4c4c4;
  border-radius: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0, 0.0);
  outline: none;
}
.settingsTitle{
  position: relative !important;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}
#newTaskTitle{
  border-bottom: 1px solid rgba(194,194,194,.25);
  position: relative !important;
  width: 100%;
  display: inline-block;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  z-index: 3;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.headText{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: black !important;
	text-align: left;
	font-size: 16px !important;
	left: 10px;
	top: 14px;
	cursor: pointer;
	user-select: none;
}
.subText{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.4);
	text-align: left;
	font-size: 11px;
	left: 11px;
	top: 33px;
	cursor: pointer;
	user-select: none;
}
.settingsIcons{
	position: absolute;
	color: #47c9a2;
	cursor: pointer;
	font-size: 24px !important;
	right: 10px;
	top: 14px;
	user-select: none;
}
.barSettingsIcons{
    color: grey;
    position: static !important;
    font-size: 30px !important;
}
#viewSlider{
	position: relative;
	border-top: 1px solid rgba(194,194,194,.25);
	text-align: center;
	width : 93% !important;
	height: 55px;
	margin-left: 3%;
}
#volumeSlider{
	width: 250px;
	margin-left: 5%;
	margin-top: 30px;
}
#viewCheckBox{
	position: relative;
	border-bottom: 1px solid rgba(194,194,194,.25);
	width : 93% !important;
	height: 55px;
	margin-left: 3%;
	margin-top: 15px;
	margin-bottom: 20px;
}
#vibrarCheck{

}
.headerContainer{
	border-bottom: 1px solid rgba(194,194,194,.25);
	position: relative;
	width: 100%;
  height: 50px;
	padding-top: 10%;
  padding-bottom: 5px;
	margin-bottom: 20px;
	z-index: 3;
}
.playerContainer{
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding-top: 10%;
	z-index: 3;
}
#settingsBtn{
	position: absolute;
	left: 5%;
}
#addBtn{
	position: absolute;
	right: 5%;
}
#btnBox{
	margin-top: 2px;
}
#tasks{
	position: relative;
	width: 100%;
	height: auto;
	background: #ffffff;
	margin-top: 5px;
}
.task{
	width: 100%;
	/*border-bottom: 1px solid rgba(194,194,194,.25);*/
	background: #ffffff;
	padding-left: 5%;
	padding-top: 4%;
	text-align: left;
	height: 40px;
}
.taskState{
	user-select: none;
	color: #36cf85;
}
.taskTime{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	right: 5%;
	color: rgba(0,0,0,0.4);
	text-align: right;
	padding-top: 2.5%;
}
.taskText{
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.7);
	font-size: 14px;
	user-select: none;
	cursor: default;
}
.subTask{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.4);
	text-align: left;
	font-size: 11px;
  padding-left: 5%;
  padding-top: 2px;
  text-align: left;
	cursor: pointer;
	user-select: none;
}
.taskForm{
	position: relative;
	width : 100%;
	height: auto;
	margin-left: 5%;
	cursor: pointer;
  overflow: scroll;
}
#addInput{
	position: absolute;
	top: 24px;
	width: 100%;
	height: 25px;
	border: 1px solid #c4c4c4;
  border-radius: 4px;
	background-color: #fff;
}
.addTaskText{
	font-size: 16px;
  margin-top: 10px;
  padding-left: 5%;
}
#taskName{
  width: 80%;
  height: 35px;
  border: 1px solid rgba(194,194,194,.25);
  border-radius: 8px;
	background-color: #fff;
  font-size: 14px;
  margin: 5px 5px 5px 10%;
  padding-left: 10px;
}
#sliderContainer{
  width: 100%;
  font-size: 12px;
  border-top: 1px solid rgba(194,194,194,.25);
  padding-top: 15px;
}
.newTaskSlider{
  width: 180px;
  text-align: center;
  margin: 15px 5px 15px 20%;
}
#history{
  position: relative;
 	width: 100%;
 	height: auto;
 	background: #ffffff;
 	margin-top: 5px;
}
.dayTimeSelection{
  display: initial;
  background-color: grey;
  color: white;
  width: 40px;
  height: 25px;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
}
.dayTimeSelection:checked{
  background-color: red;
}
#subMenu{
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 42px;
	min-height: 55px;
	z-index: 3;
}
.subMenuClass{
	border-top: 1px solid rgba(194,194,194,.20);
	position: relative;
	background: #fcfcfc;
	padding-top: 2%;
	float: left;
	width: 33.3%;
  height: 10%;
	min-height: 55px;
}
.subMenuTitle{
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	color: black !important;
	font-size: 15px;
}
.selectedSubMenu{
    padding: 0;
    margin: 0;
    border-radius: 0px;
    position: relative;
    width: 33.3%;
    max-height: 2px;
    height: 1px;
}
.userTime{
	width: 30px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid rgba(194,194,194,.25);
  border-radius: 4px;
  font-size: 14px;
}
#startTime{
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
#customizeTime{
	margin-top: 10px;
}
#customizeTimeBox{
	display: none;
}
.optionsBox{
	display: block;
	background: white;
	position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
	margin: 0 auto;
  margin-top: 40%;
	font-family: 'Roboto', sans-serif;
	width: 30%;
  height: auto;
	font-size: 20px;
	max-width: 400px;
	min-width: 220px;
  border-radius: 8px;
  transition: all 300ms ease-out;
  opacity: 0;
	z-index: 10;
}
.showAlert{
  opacity: 1;
  transform: translateY(100vh);
  will-change: transform, opacity;
}
.themeBtn{
	border-bottom: 1px solid rgba(194,194,194,.25);
	width: 100%;
	height: 30px;
	padding-top: 10px;
}
.themeBtn :: span{
	color: red;
}
.popupText{
	padding-left: 10px;
}
.popupRadio{
	position: absolute;
	right: 5%;
	text-align: right;
}
.endThemeBtn{
	text-align: center;
	padding: 6px;
}
.menuButton{
	width: 90px;
	height: 35px;
	background: white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border: 1px solid #c4c4c4;
  border-radius: 8px;
}
.menuButton:active{
	background: #c4c4c4;
}
#shadowBox{
  pointer-events: none;
  opacity: 0;
	background: black;
	position: fixed;
	width: 100%;
  height: 100%;
	top: 0;
  left: 0;
	margin: 0 auto;
  transition: 300ms ease-out;
	z-index: 9;
}
.showShadowBox{
  transition-property: opacity !important;
  opacity: 0.8 !important;
}
input[type=checkbox] {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
}

input[type=checkbox]:after {
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block;
    background: #fff;
	   border: 1px solid #c4c4c4;
    border-radius: 4px;
}
input[type=checkbox]:checked:after {
    content: '✓';
    font-size: 24px;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
}
input[type=range] {
	-webkit-appearance: none;
	height: 10px;
	border: 1px solid #c4c4c4;
    border-radius: 4px;
	background-color: #fff;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #47c9a2;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}
input[type="date"] {
  background: #ffffff;
  min-width: 200px;
  padding: 10px;
  border: 1px solid rgba(194,194,194,.25);
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 14px;
}
input:focus,
select:focus,
div:focus,
textarea:focus,
button:focus {
    outline: none;
}
