@media only screen and (max-width: 356px) {
    .material-icons {
        font-size: 24px !important;
    }
    #time{
        font-size: 60px !important;
    }
    .viewIcons{
        font-size: 24px !important;
    }
    .subText{
        font-size: 14px !important;
    }
    .taskText{
        font-size: 14px !important;
    }
}
@media (min-width: 357px) and (max-width: 991px)  {
    .material-icons {
        font-size: 48px !important;
    }
    #time{
        font-size: 70px !important;
    }
    .viewIcons{
        font-size: 48px !important;
    }
    .taskText{
        font-size: 15px !important;
    }
    .subMenuTitle{
        font-size: 17px !important;
    }
}
@media (min-width: 992px) and (max-width: 1027px)  {
    .material-icons {
        font-size: 72px !important;
    }
    #time{
        font-size: 80px !important;
    }
    .viewIcons{
        font-size: 72px !important;
    }
    .subText{
        font-size: 16px !important;
    }
    .taskText{
        font-size: 18px !important;
    }
}
#mainContainer{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
    left:0px;
}
#container{
	margin: 0 auto;
	top: 0;
    left: 0;
	position: absolute;
	width: 100%;
    height: 40%;
	text-align: center;
	z-index: 1;
}
.hideContainer{
	left: 150% !important;
    transition: 0.2s;
    transition-timing-function: ease-in;
    transform: translateX(150%) translateY(0);
}
.showContainer{
	left: 0 !important;
    transition: 0.2s;
    transition-timing-function: ease-out;
    transform: translateX(0) translateY(0);
}
#player{
    position: relative;
	background: radial-gradient(ellipse farthest-corner at center, #47C9A2 0%, #26A69A 100%);
	/*background: radial-gradient(ellipse farthest-corner at center, #607D8B 0%, #546E7A 100%);  CLASSIC*/
	/*background: radial-gradient(ellipse farthest-corner at center, #42A5F5 0%, #2196F3 100%);  BLUE*/
	/*background: radial-gradient(ellipse farthest-corner at center, #FF9D68 0%, #FF7A75 100%);  BRIGHT*/
	/*background: radial-gradient(ellipse farthest-corner at center, #FC216B 0%, #E91E63 100%);  PINK*/
	margin: 0 auto;
	/*opacity: 0.9;*/
	width: 100% !important;
	text-align: center;
	z-index: 5;
}
.customBtn{
	cursor: pointer;
	width: 90px;
	height: 28px;
	background: #009688;
	/*background: #009688; Green*/
	/*background: #212121; Classic*/
	/*background: #01579B; Blue*/
	/*background: #ff3870; Main*/
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border: 1px solid #009688;
    border-radius: 8px;
	margin-bottom: 8px;
}
#settingsBox{
    position: absolute;
	background: #fcfcfc;
	margin: 0 auto;
	top: 0;
	left: -100%;
	width: 100%;
	height: auto;
	z-index: 2;
}
.showSettings{
    transition-property: left;
    left: 0!important;
    transition: 0.2s;
    transition-timing-function: ease-out;
    transform: translateX(0) translateY(0);
}
.hideSettings{
    transition-property: left;
    left: -100%!important;
    transition: 0.4s;
    transition-timing-function: ease-in;
    transform: translateX(-100%) translateY(0);
}
#addNewTaskBox{
	background: #fcfcfc;
	margin: 0 auto;
	top: 0;
    left: 0;
	width: 100%;
	height: auto;
    display: none;
	z-index: 2;
}
.menuIcons{
	color: white;
	user-select: none;
}
#time{
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px !important;
	user-select: none;
	cursor: default;
}
.material-icons {
	cursor: pointer;
	font-size: 36px;
}
.player-icons{
	cursor: pointer;
	color: white;
	user-select: none;
}
h1{
	font-family:  'Asap', sans-serif;
	font-size: 60px;
	text-align: center;
}
.viewIcons{
	position: absolute;
	cursor: pointer;
	color: black;
	user-select: none;
	left: 5%;
	z-index: 3;
}
.viewBtn{
	position: relative;
	background: white;
	width : 93% !important;
	height: 55px;
	margin-left: 3%;
	border: 1px solid #c4c4c4;
    border-radius: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0, 0.0);
    outline: none;
}
.viewTitle{
	position: absolute;
	margin: 0 auto;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
    left: 50%;
	top: 50%;
	transform: translateX(-50%);
}
.headText{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: black !important;
	text-align: left;
	font-size: 16px !important;
	left: 10px;
	top: 14px;
	cursor: pointer;
	user-select: none;
}
.subText{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.4);
	text-align: left;
	font-size: 11px;
	left: 11px;
	top: 33px;
	cursor: pointer;
	user-select: none;
}
.settingsIcons{
	position: absolute;
	color: #47c9a2;
	cursor: pointer;
	font-size: 24px !important;
	right: 10px;
	top: 14px;
	user-select: none;
}
.barSettingsIcons{
    color: grey;
    position: static !important;
    font-size: 30px !important;
}
#viewSlider{
	position: relative;
	border-top: 1px solid rgba(194,194,194,.25);
	text-align: center;
	width : 93% !important;
	height: 55px;
	margin-left: 3%;
}
#volumeSlider{
	width: 250px;
	margin-left: 5%;
	margin-top: 30px;
}
#viewCheckBox{
	position: relative;
	border-bottom: 1px solid rgba(194,194,194,.25);
	width : 93% !important;
	height: 55px;
	margin-left: 3%;
	margin-top: 15px;
	margin-bottom: 20px;
}
#vibrarCheck{

}
.headerContainer{
	border-bottom: 1px solid rgba(194,194,194,.25);
	position: relative;
	width: 100%;
	height: 50px;
	padding-top: 10%;
	margin-bottom: 20px;
	z-index: 3;
}
.playerContainer{
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding-top: 10%;
	z-index: 3;
}
#settingsBtn{
	position: absolute;
	left: 5%;
}
#addBtn{
	position: absolute;
	right: 5%;
}
#btnBox{
	margin-top: 2px;
}
#tasks{
	position: relative;
	width: 100%;
	height: auto;
	background: #ffffff;
	margin-top: 5px;
}
.task{
	width: 100%;
	/*border-bottom: 1px solid rgba(194,194,194,.09);*/
	background: #ffffff;
	padding-left: 5%;
	padding-top: 5%;
	text-align: left;
	height: 40px;
}
.taskState{
	user-select: none;
	color: #36cf85;
}
.taskTime{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	right: 5%;
	color: rgba(0,0,0,0.4);
	text-align: right;
}
.taskText{
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.7);
	font-size: 14px;
	user-select: none;
	cursor: default;
}
.subTask{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.4);
	text-align: left;
	font-size: 11px;
    padding-left: 5%;
    padding-top: 2px;
    text-align: left;
	cursor: pointer;
	user-select: none;
}
#currentTask{
	position: relative;
	background: #fcfcfc;
	width: 100%;
	height: auto;
	min-height: 25px;
	padding-top: 2%;
	padding-left: 2%;
	text-align: left !important;
    cursor: pointer;
    z-index: 3;
    border: 1px solid rgba(194,194,194,.20);
}
.addTaskForm{
	border-bottom: 1px solid rgba(194,194,194,.25);
	position: relative;
	width : 93% !important;
	height: 60px;
	margin-left: 3%;
	margin-bottom: 8px;
	cursor: pointer;
}
#addInput{
	position: absolute;
	top: 24px;
	width: 100%;
	height: 25px;
	border: 1px solid #c4c4c4;
    border-radius: 4px;
	background-color: #fff;
}
.addTaskText{
	font-size: 18;
	top: 0px;
}
#subMenu{
	border-top: 1px solid rgba(194,194,194,.20);
	/*position: relative;*/
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 42px;
	min-height: 55px;
	z-index: 3;
}
.subMenuClass{
	position: relative;
	background: #fcfcfc;
	padding-top: 3%;
	float: left;
	width: 33.3%;
    height: 10%;
	min-height: 55px;
}
.subMenuTitle{
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	color: black !important;
	font-size: 15px;
}
.selectedSubMenu{
    border-top: 2px solid #47C9A2;
}
.userMinutes{
	width: 30px;
}
.userSeconds{
	width: 30px;
}
#customizeTime{
	margin-top: 10px;
}
#customizeTimeBox{
	display: none;
}
.optionsBox{
	display: block;
	background: white;
	position: absolute;
    left: 50%;
    top: 100%;
	margin: 0 auto;
	margin-top: 20%;
	font-family: 'Roboto', sans-serif;
	width: 30%;
    height: auto;
	font-size: 20px;
	max-width: 400px;
	min-width: 220px;
	border: 1px solid #c4c4c4;
    opacity: 0;
	z-index: 10;
}
@keyframes showAlert {
    0% {opacity:0;}
    100% {opacity:1;}
}
.showAlert{
    opacity: 1;
    top: 10%;
    transform: translateX(-50%) translateY(-10%);
    /*transition: 0.25s;
    transition-timing-function: ease-out;*/
    animation: showAlert 0.2s linear;
}
.themeBtn{
	border-bottom: 1px solid #c4c4c4;
	width: 100%;
	height: 30px;
	padding-top: 10px;
}
.themeBtn :: span{
	color: red;
}
.popupText{
	padding-left: 10px;
}
.popupRadio{
	position: absolute;
	right: 5%;
	text-align: right;
}
.endThemeBtn{
	text-align: center;
	padding: 10px;
}
.menuButton{
	width: 90px;
	height: 30px;
	background: white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border: 1px solid #c4c4c4;
  border-radius: 8px;
}
.menuButton:active{
	background: #c4c4c4;
}
#shadowBox{
	display: none;
	background: black;
	opacity: 0.8;
	position: fixed;
	width: 100%;
    height: 100%;
	top: 0;
    left: 0;
	margin: 0 auto;
	z-index: 9;
}
input[type=checkbox] {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
}

input[type=checkbox]:after {
    content: '';
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
    display: inline-block;
    background: #fff;
	border: 1px solid #c4c4c4;
    border-radius: 4px;
}
input[type=checkbox]:checked:after {
    content: '✓';
    font-size: 24px;
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
}
input[type=range] {
	-webkit-appearance: none;
	height: 10px;
	border: 1px solid #c4c4c4;
    border-radius: 4px;
	background-color: #fff;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #47c9a2;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}
input:focus,
select:focus,
div:focus,
textarea:focus,
button:focus {
    outline: none;
}
